/*  src/Title.css  */
.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgba(192, 45, 26, 0.856);
    color: #fff;
    animation: opacity 1.5s;
    animation-iteration-count: 1

  }

  @keyframes opacity {
    50% {
      opacity: .7;
      letter-spacing: 3px;
    }
  }

  .site-title {
    letter-spacing: 10px;
    color: orange;
  }

  .Title-Subtitle {
    color: rgba(255, 255, 255, 0.75);
  }

  .nav-link {
    display: inline-block;
    padding: 0.5em 1em;
    color: rgba(255, 255, 255, 0.835);
    font-weight: bold;
    text-decoration: none;
  }

  .nav-link:hover {
    color: white;
    transition: 400ms ;
    transform: scale(1.2)
  }

  .nav-link-active {
    color: #fff;
    border-bottom: 2px solid;
  }

  .Footer {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1.5em;
    background-color: rgba(192, 45, 26, 0.856);
    color: #fff;
    margin: 0;
  }

  a {
      color: orange
  }