.App {
  background-color: black;
}

.movie-description {
  color: rgb(223, 217, 217);
}

.movie-title {
  color: rgba(93, 177, 59, 0.829);
}

@keyframes mymove {
  0%   {top: 0px;}
  25%  {top: 200px;}
  75%  {top: 50px}
  100% {top: 100px;}
}

/* .movie-title:hover {
  color: white;
  transition: 700ms ;
  transform: translate(40px, 10px)  scale(1.2)
} */

.movie-detail-section {
  display: flex;

}

.movie-detail-section > *{
  padding: 0em 0.7em;
  margin: 1px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 700px) {
  .movie-detail-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .movie-detail-section > *{
    /* padding: 0em 0.7em; */
    /* margin: 1px; */
    margin-bottom: 30px;
  }
}

.movieOverview {
  color: orange;
  position: absolute;
  right: 0;
  bottom: 0;
  /* text-align: right; */
  display: inline-block;
  padding: 0.25em 0.5em;
  background-color: rgba(59, 31, 31, 0.87);
  display: none;

}

.Movie-info:hover .movieOverview {
  display: block;
}

.Movie-info {
  position: relative;

}

.movie-link {
  color: rgb(48, 48, 216);
  text-decoration: none;
}

.about-section {
  margin-left: 2em;
  margin-bottom: 2em;
}